@font-face {
  font-family: 'lovelight';
  src: url('./assets/fonts/LoveLight-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 200 900;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts//Roboto-VariableFont_wdth\,wght.ttf') format('truetype'),
    url('./assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Indie Flower';
  src: url('./assets/fonts/IndieFlower-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
  font-family: 'lovelight', sans-serif;
  color: #fff;
  font-size: 1rem;
  background-image: url('./assets/462860.jpg');
}

#content {
  margin-top: 30px;
  font-family: inherit;
}

.content-header {
  background-color: rgb(0 0 0 / 0.5);
  width: 100%;
  height: 230px;
  text-align: center;

  h1 {
    /* line-height: 1.5rem; */
    font-size: 10.4rem;
    text-shadow: 2px 2px 2px black;
    margin-top: 40px;
  }
}

/* MENU PAGE */
.menu-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Indie Flower', sans-serif;

  .menu-title {
    text-align: center;
    font-size: 3.4rem;
    font-family: 'Roboto', 'Indie Flower', sans-serif;
  }
}

.item-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "price container";
  height: 360px;
  width: 60%;
  background-color: rgb(183 43 33 / 0.7);
  border-radius: 12px;
  padding: 20px 15px;

  .item-container {
    grid-area: container;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "image title"
      "image description";
    gap: 10px;

    h3 {
      grid-area: title;
      font-size: 2.3rem;
    }

    .item-description {
      grid-area: description;
      font-size: 1.6rem;
      line-height: 1.25rem;

    }

    .item-image {
      grid-area: image;
      height: auto;
      width: 100%;
      /* background-size: 120px; */
      border-radius: 5px;
      border: 1px solid #f7222f;
    }

  }

  .item-price {
    position: absolute;
    top: 0;
    left: -30px;
    align-self: start;
    margin-right: 10px;
    grid-area: price;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 600;
    color: #e1d155;
    background-color: #c30f2f;
    width: 100px;
    transform: rotate(-15deg);
  }
}
